/* Custom Properties */
:root{
    --first-color: #fb8c00;
    --second-color: #64ffda;
    --third-color: #b2ff59;
    --fourth-color: #fff176;
    --fifth-color: #ef6c00;
}

/* Reset Styles */
body{
    font-family: 'Playfair Display', serif;
}

a{
    color: var(--second-color);
    font-weight: bold;
    transition: all 0.2s ease-out;
}


/* Bootstrap Styles */
.bg-body-tertiary{
    background: var(--first-color) !important;
}

.card{
    margin: 30px;
}

.card img{
    width: auto;
    height: 400px;
}

.dropdown-item{
    color: var(--first-color);
}

.dropdown-item:hover{
    color: var(--fourth-color);
    background-color: var(--first-color);
    
}

.navbar-brand img{
    width: auto;
    height: 90px;
}

.nav-item:hover{
    background-color: var(--fifth-color);
}

.nav-item{
    margin-left: 0.5rem;
    transition: all 0.2s ease-out;
}

.nav-link{
    margin-left: 0.5rem;
    color:var(--second-color);
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover{
    color: var(--fourth-color);
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}




/* My Styles */
.bg-apartados{
    background: linear-gradient(45deg, #ffca28 ,#ffe082, #fff9c4);
}


/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-item:hover{
        background-color: transparent;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}




